[run]
source = .
omit =
    tests/*
    */site-packages/*
    data/*
    htmlcov/*
    .pytest_cache/*
    conftest.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    raise NotImplementedError
    pass$
    \.\.\.$
    if TYPE_CHECKING:
    @abstractmethod

[html]
directory = htmlcov
