# Groq API Key for LLM and Vision models
GROQ_API_KEY=your_api_key_here
GROQ_API_KEY_2=your_api_key_here
GROQ_API_KEY_3=your_api_key_here
GROQ_API_KEY_4=your_api_key_here

# Optional Configurations
# LLM_MODEL=llama3-70b-8192
# VISION_MODEL=llama-3.2-11b-vision-preview

# Pinecone Integration
# PINECONE_API_KEY=pcsk_...
# PINECONE_INDEX=multimodal
