langchain
langgraph
langchain-groq
langchain-community
groq
chromadb
sentence-transformers
duckduckgo-search
gradio
python-dotenv
pymupdf
pinecone
langchain-pinecone
tenacity
pytest
pytest-asyncio
authlib
fastapi
uvicorn
psycopg2-binary
sqlalchemy
itsdangerous
pymupdf4llm
rank_bm25
langchain-community
